@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --main-color: #6200f3;
}

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
  list-style: none;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
header{
  position: sticky !important;
}

body, html {
	height: 100vh;
	font-family: Poppins-Regular, sans-serif;
}

body a
{
  text-decoration: none;
  color: #000;
}

header
{
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 28px 12%;
  transition: all .50s ease;
}
.search {
    position: relative;
    color: #aaa;
    font-size: 16px;
  }
  
  .search {display: inline-block;}
  
  .search input {
    width: 250px;
    height: 32px;
  
    background: #fcfcfc;
    border: 1px solid #aaa;
    border-radius: 5px;
    box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
  }
  
  .search input { text-indent: 32px;}
  .search .fa-search { 
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  .search .fa-search {left: auto; right: 10px;}   
  @media (max-width: 768px) {
      .search{
          margin: 12px;
      }

  } 

.logo
{
  display: flex;
  align-items: center;
}

.logo img
{
  margin-right: 3px;
  transition: all .50 ease;
}

.logo span
{
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
  transition: all .50 ease;
}

.navbarr
{
  display: flex;
  margin-top: 15px;
}

.navbarr a
{
  font-size: 1.1rem;
  font-weight: 500;
  padding: 5px 0;
  margin: 0px 30px;
  transition: all .50s ease;
}

.navbarr a:hover
{
  color: var(--main-color);
}

.navbarr a.active
{
  color: var(--main-color);
}

.mainn
{
  display: flex;
  align-items: center;
}

.mainn a
{
  margin-left: 10px;
  font-size: 1.1rem;
  font-weight: 500;
  transition: all .50s ease;
}

.mainn a:hover
{
  color: #fff;
  text-decoration: none;
}

#menu-icon
{
  font-size: 35px;
  color: #fff;
  cursor: pointer;
  z-index: 10001;
  display: none;
}

@media only screen and (max-width: 1350px) {
  
  /* MOBILE MENU */
    
  header
  {
    padding: 14px 2%;
    transition: .2s;
  }

  .navbarr a
  {
    padding: 5px 0;
  }

  
}

.col-lg-12.copyrightdiv {
  margin-top: 195px;
}
@media only screen and (max-width: 1090px) {
  
  /* MOBILE MENU */
    
  #menu-icon
  {
    display: block;
    margin-left: 420px;
  }
  a.navbar_signup {
    padding: 1px 11px;
    border: 0px;
}

  .navbarr
  {
    position: absolute;
    top: 82%;
    right: -100%;
    width: 270px;
    height: 55vh;
    background: linear-gradient(to bottom, black, #464141);;
    display: none;
    flex-direction: column;
    border-radius: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: all .50s ease;
  }
  
  .navbarr a
  {
    display: block;
    margin: 12px 0;
    padding: 0 25px;
    color: #fff;
    transition: all .50 ease;
  }

  .navbarr a:hover
  {
    color: wheat;
    transform: translateX(7px);
  }

  .navbarr a.active
  {
    color: wheat;
  }

  .navbarr.open
  {
    right: 0;
    display: flex !important;
  }

  .logo img
  {
    margin-left: 10px;
    width: 50%;
    transition: all .50s ease;
  }

  .logo span
  {
    font-size: 1.1rem;
    transition: all .50s ease;
  }

  .mainn a
  {
    margin-right: 0px;
    margin-left: 5px;
    font-size: 1rem;
    font-weight: 600;
    transition: all .50s ease;
  }
}
.nav_link{
  color: #fff;
}
.nav_link:hover{
  color: #fff !important;
  text-decoration: none;
}
.nav_link2{
  color: #fff !important;
  text-decoration: none;
}
.nav_link2:hover{
  color: #fff !important;
  text-decoration: none;
}
.linav{
  padding: 0px 8px 0px 0px !important;

}
a.navbar_signup {
  padding: 4px 11px;
}
a.navbar_login {
  padding: 4px 15px;
}
.navlinks1{
  margin-right: -55px;
}
.section_one_img{
  margin-left: 3rem;
}

section.section_one {
  height: 79vh;
}
.sec_one_h1{
  color:#fff;
  font-size: 36px ;
}


.sec_one_span1{
  color: #fff;
}
span.span_sec_one {
  font-size: 22px;
  color: #fff;
  font-family: Poppins;
}
span.span_sec_three {
  font-family: 'Ink free';
  color: #ffffff63;
}
span.span_sec_four {
  font-family: 'Ink free';
  color: #ffffff63;
  font-size: 22px;
}
a.review_btn {
  color: #fff;
  background: #d9158d;
  padding: 10px 14px;
  border-radius: 8px;
}
.review_btn:hover{
  text-decoration: none;
  color: #fff;

}
.card_div{
  padding: 0px !important; 
  box-shadow: 5px 4px 10px 0px rgba(0, 0, 0, 0.25); 
  border-radius: 8px;
   padding: 10px; 
   display: flex; 
   align-items: center; 
  width: 300px;
}
section.section-three {
  background: #dedede;
}
.container.sec_containerone {
  background: #fff;
  padding: 0px 28px;
}
h5.three_sec_h5 {
  font-size: 22px;
  font-weight: 300;
}
.card_div_three{
  padding: 0px !important; 
  border-radius: 8px;
   padding: 10px; 
   display: flex; 
   align-items: center; 
  width: 300px;
}
span.helpfulthubm {
  font-size: 25px;
  color: #0000005c;
}
h3.three_sec_h3 {
  font-family: 'Ink free';
  font-size: 21px;
  color: #00000069;
}
a.footer_link {
  font-size: 22px;
  font-family: 'Poppins';
  font-weight: 100;
  padding: 0px 6px;
  color: #fff;
}
a.footer_link:hover {
  text-decoration: none;
  color: #fff;
}
.iconnns {
  font-size: 20px;
  color: #fff;
}
.iconnns:hover {
  color: #fff;
}
p.footer_pragraphy {
  text-align: center;
  color: #fff;
  font-family: 'Ink free';
  font-weight: 100;
}

@media only screen and (max-width: 627px) {
  .section_one_img{
    text-align: center !important;
  margin-left: 0 !important;

  }
  li.navlinks1{
   
    width: 50%;
    margin-left: 10px;
    padding: 0px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .card_div{
    width: 345px !important;
  }
  .navlinks2{
    width: 50%;
    margin-left: 10px;
    padding: 0px;
    border-radius: 10px;
  }
  a.navbar_signup{
    border: 0px;
  }
  a.navbar_login {
    background: transparent;
    border: 0px;
}
  bi#menu-icon {
    margin-left: 70px;
}
i.fas.fa-thumbs-up {
  font-size: 20px !important;
}
span.helpfulthubm {
  font-size: 17px !important;
}
i.fas.fa-thumbs-down.ml-5 {
  font-size: 20px !important;
}
i.fa-regular.fa-flag {
  font-size: 26px;
}
.iconnns{
  font-size: 30px !important;
}

ul.ul_footer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
li.li_footer1 {
  padding: 0px 20px;
}
li.li_footer2 {
  padding: 0px 20px;
}
li.li_footer3 {
  padding: 0px 20px;
}
.footer_div_one.col-lg-4.col-sm-4.col-md-4.col-6.mt-4 img {
  margin-top: 23px;
}
.container.footer_container {
  text-align: center;
}
.search input {
  width: 228px;
}

}
@media only screen and (min-width: 600px) and (max-width: 900px) {

}


